.promo {
    position: relative;
    max-width: 1280px;
    width: 100%;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #272727;
    /*background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(39,39,39,1) 20%, rgba(39,39,39,1) 80%, rgba(28,28,28,1) 100%);*/
}

.promo__title {
    max-width: 730px;
    margin: 199px 0 199px 0;
    font-size: 50px;
    font-weight: normal;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;

    opacity: var(--opacity-normal);
}

.promo__bg-image {
    position: absolute;
    top: auto;
    left: auto;

    margin: 101px auto 0 auto;
}

@media screen and (max-width: 768px){
    .promo__title {
        margin: 205px 0 205px 0;
        max-width: 650px;
        font-size: 40px;
        line-height: 52px;
    }
}

@media screen and (max-width: 575px){
    .promo__title {
        max-width: 290px;
        margin: 207px 0 206px 0;
        font-size: 29px;
        line-height: 37px;
    }
}


@media screen and (max-width: 350px){
    .promo__bg-image {
        width: 292px;
        height: 292px;
        object-fit: contain;

        margin: 119px auto 0 auto;
    }
}