.links {
}

.links__link {
    margin: 0 20px 0 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    text-decoration: none;

    color: var(--color-text-main);
    opacity: var(--opacity-normal);
}

.links__link:last-child {
    margin: 0;
}

.links__link:hover {
    opacity: var(--opacity-prominent);
}

@media screen and (max-width: 480px){
    .links__link {
        margin: 0 0 12px 0;

        font-size: 12px;
        line-height: 15px;
    }
}