.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0;
}

.signin__form {
    max-width: 396px;
    width: 100%;
    margin: 35px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin__signx-button {
    margin: 37px 0 0 0;
    border-radius: 50px;
}

.signin__server-error {
    padding: 17px 0 0 0;
}

.signin__redirect-call {
    margin: 16px 0 0 0;
}

@media screen and (max-width: 436px){
    .signin {
        padding: 0 20px 0 20px;
    }
}